
.reveal {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes reveal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }