/* GLOBALS */

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
}


/* HOME */

.header-container {
  height: 15vh;
  background: red;
  margin: 0;
}

.name {
  display: inline-block;
  font-size: 2.5em;
  width: 50%;
  margin: 3% 0 0 3%;
}

.logout {
  display: inline-block;
  background: white;
  font-size: 1.2em;
  color: black;
  text-align: right;
  border-radius: 15px;
  padding:1%;
  margin-left: 27%;
  text-decoration: none;
}

.date{
  display: inline-block;
  margin: 5% 0 5% 4% ;
}

.new-event {
  background: white;
  font-size: 1.5em;
  color: black;
  padding: 1%;
  margin-left: 35%;
  border-radius: 15px;
  text-decoration: none;
}

/* UPCOMING EVENTS */

.upcoming-events {
  width: 80%;
}

.upcoming-events-title {
  margin-left: 3%; 
}

.event {
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 0 2% 3%;

}

.event:hover {
}


.event-date {
  display: inline-block;
  border-right: 2px solid black;
  font-size: 1.2em;
  padding: 4%;
  width: 10%;
  margin: 0;
}

.event-details {
  display: inline-block;
  width: 60%;
}

.event-name {
  display: inline-block;
  width: 80%;
  margin: 0 0 5% 5%;
  font-size: 1.2em;

}

.event-attendees {
  display: inline-block;
  text-align: right;
  width: 70%;
  margin: 0 0 5% 5%;
  font-size: 1.2em;
}

.event-icon {
  width: 17%;
}

/* EVENT PAGE */

.header {
  background:red;
}

.event-title {
  font-size: 2em;
  margin: 5% 10% 2% 3%;
}

.event-image {
  position: absolute;
  width: 25%;
  right: 6%;
  top: 20%;
}

.date-time {
 font-size: 1.5em;
 margin: 0 0 2% 3%;
}

.location {
  margin-left: 3%;
}

.game {
  margin-left:3%;
  margin-top: 0;
}

.event-description {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1em;
  margin-left: 3%;
  width: 60%;
  display: inline-block;
}

.attendees-container {
  position: absolute;
  right: 0%;
  top: 37%;
  width: 37%;
  height: 50vh;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.attendees-title {
  font-size: 1.5em;
  text-align: center;
  padding-bottom:20%;
  margin-top: 2%;
  margin-bottom: 0;
}

.attendees-list {
  margin-top: 0;
  list-style: none;
  
}

.attendee {
  font-family: Arial, Helvetica, sans-serif;
}






