/* GLOBALS */

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
}


/* LOGIN PAGE */
.login-container {
  height: 100vh;
  width: 100vw;
  background: #00d499;
}

.login-title {
  text-align: center;
  font-size:2em;
  margin-top:0;
  padding-top: 50%;
}

.user-input {
  display: block;
  margin:3% auto;
  width: 50%;
  text-align: center;
  font-size: 1.5em;
  border:none;
  border-radius: 14px;
  padding:1%;
}

.login-button {
  display: block;
  font-size: 1.2em;
  text-align: center;
  width:30%;
  margin:3% auto;
  padding: 1%;
  background: #fff;
  border:none;
  border-radius: 10px;
}

.new-here {
  text-align: center;
  font-size:1.5em;
  margin-top:10%;
  margin-bottom: 5%;
}

.register {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 1.1em;
  text-align: center;
  width:25%;
  margin:0 auto;
  padding: 1%;
  background: #fff;
  border-radius: 10px;
}

.login-error {
  text-align: center;
  color:#ff6b95;
}



/* HOME */

.header-container {
  height: 15vh;
  background: #00d499;
  color: #fff;
  margin: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.name {
  display: inline-block;
  font-size: 2.5em;
  width: 50%;
  margin: 3% 0 0 3%;
}

.logout {
  display: inline-block;
  background: white;
  font-size: 1.2em;
  color: black;
  text-align: right;
  border-radius: 15px;
  padding:1%;
  margin-left: 27%;
  text-decoration: none;
}

.date {
  display: inline-block;
  margin: 5% 0 5% 4% ;
}

.new-event {
  background: white;
  font-size: 1.5em;
  color: black;
  padding: 1%;
  margin-left: 38%;
  border-radius: 15px;
  text-decoration: none;
}

/* UPCOMING EVENTS */

.upcoming-events {
  width: 80%;
}

.upcoming-events-title {
  margin-left: 3%; 
}

.event {
  border: 2px solid black;
  color: black;
  border-radius: 15px;
  margin: 0 0 2% 3%;
}

.event:hover {
  opacity: 0.5;
}

.event-date {
  display: inline-block;
  border-right: 2px solid black;
  font-size: 1.2em;
  padding: 4%;
  width: 10%;
  margin: 0;
}

.event-details {
  display: inline-block;
  width: 60%;
}

.event-name {
  display: inline-block;
  width: 80%;
  margin: 0 0 5% 5%;
  font-size: 1.2em;

}

.event-attendees {
  display: inline-block;
  text-align: right;
  width: 70%;
  margin: 0 0 5% 5%;
  font-size: 1.2em;
}

.event-icon {
  width: 17%;
}

/* EVENT PAGE */

.header {
  background:#00d499;
}

.back-arrow {
  width: 10%;
  padding-top: 4%;
  padding-left: 3%;
}

.event-title {
  font-size: 2em;
  margin: 0 10% 2% 3%;
  padding-top: 2%;
}

.event-image {
  position: absolute;
  width: 25%;
  right: 6%;
  top: 20%;
}

.date-time {
 font-size: 1.5em;
 margin: 0 0 2% 3%;
}

.location {
  margin-left: 3%;
}

.game {
  margin-left:3%;
  margin-top: 0;
}

.event-description {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1em;
  margin-left: 3%;
  width: 55%;
  /* display: inline-block; */
}

.attendees-container {
  position: absolute;
  right: 0%;
  top: 20%;
  width: 37%;
  height: 50vh;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.attendees-title {
  font-size: 1.5em;
  text-align: center;
  padding-bottom:12.5%;
  margin-top: 2%;
  margin-bottom: 0;
}

.attendees-list {
  margin-top: 0;
  list-style: none;
  
}

.attendee {
  font-family: Arial, Helvetica, sans-serif;
}

/* INVITE COMPONENT */

.invite-input {
  font-size: 1em;
  margin-left: 3%;
  width: 30%;
  padding: 1% ;
  background: silver;
  border:none;
  border-radius: 10px;
}

.invite-input:focus {
  outline: none;
}

.invite-button {
  font-size: 1em;
  text-align: center;
  width:15%;
  padding: 1%;
  color:white;
  background: #00d499;
  border-radius: 10px;

}

.invite-button:hover {
  opacity: 0.7;
}

/* NEW EVENT */

input:focus {
  outline: none;
}

.new-event-container {
  height: 100vh;
  width: 100vw;
  background:#00d499;
}

.new-event-title {
  text-align: center;
  margin-top:0;
  padding-top:40%;
  font-size: 2.5em;
  color: white;
}

.date-input {
  display: block;
  margin:3% auto;
  width: 50%;
  text-align: center;
  font-size: 1.5em;
  border:none;
  border-radius: 14px;
  padding:1%;
  background: #fff;

}

.description-input {
  display: block;
  margin:3% auto;
  width: 50%;
  font-size: 1.5em;
  border:none;
  border-radius: 14px;
  padding:1% 1% 30% 1%;
  background: #fff;
}

.description-input:focus {
  outline:none;
}


.game-dropdown {
  margin: 3% auto;
  width: 50%;
  display: block;
  font-size: 1.5em;
  border:none;
  border-radius: 14px;
  padding:1%;
  background: #fff;
}

.new-event-button {
  display: block;
  font-size: 1.5em;
  text-align: center;
  width:50%;
  margin:3% auto;
  padding: 1%;
  background: #fff;
  border:none;
  border-radius: 10px;
}






